img {
    height: 200px;
    width: 100%;
    margin: 0;
    display: block;
    border-style: none;

}

.container {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-right: 8rem;
    padding-left: 1rem;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;


}

.menu-container {
    margin: 5px;
    flex: 1;
    border-width: 5px;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
}

.aboutUs {
    background-color: rgb(222, 51, 57);
    width: 100%;

}